<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net472" />
  <package id="Painless.Serializer.JsonNet" version="0.11.1" targetFramework="net472" />
  <package id="PainlessHttp" version="0.11.2" targetFramework="net472" />
</packages>